/* Geral */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #45361D;
}

p {
    color: #745b30;
}

main {
    background-color: #DDCAAC;
}

/* NavBar */

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #413134;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

.navbar-itens {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-itens li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-itens a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-itens a:hover {
    color: #ccc;
}

.default-btn {
    padding: 15px;
    background-color: #F4A857;
    border-radius: 5px;
}

.navbar-itens .default-btn:hover {
    background-color: #df9a50;
    color: #fff;
}

/* main-banner */

.main-banner {
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 15rem 0;
    
}

.main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
    font-family: 'Gabarito', sans-serif;
}

.main-banner h1 {
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
}

.main-banner p {
    font-size: 32px;
}

/* Serviços */

.services-container {
    padding: 5rem 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fa {
    font-size: 60px;
    margin-bottom: 15px;
    color: #45361D;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}


/* Zonas */

.price-container {
    padding-bottom: 5rem;
    text-align: center;
}

.price-container h2 {
    font-size: 36px;
}

.price-container p {
    font-size: 20px;
}

.zonas-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto 0;
}

.zona {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.zona ul {
    padding: 0;
}

.zona li {
    line-height: 30px;
    background-color: #BD8F5E;
    color: #333;
    height: 70px;
    list-style: none;
}

.zona .price {
    list-style: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #F4A857;
    color: white;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.zona .name {
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background-color: #86775E;
    padding: 50px 0;

}

.zona .zonas-btn {
    list-style: none;
    background-color: #F4A857;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

/* Buscar Endereço */
.searchEndereco-container {
    background-color: #86775E;
    text-align: center;
    padding: 5rem 0;
}

.searchEndereco-container h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchEndereco-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchEndereco-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchEndereco-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchEndereco-container input[type="submit"] {
    background-color: #F4A857;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}

.searchEndereco-container input[type="submit"]:hover {
    opacity: 1;
}

/* Contato */

.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 70%;
    height: 150px;
}

.contact-container input[type="submit"] {
    background-color: #F4A857;
    display: block;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.contact-container input[type="submit"]:hover {
    background-color: #df9a50;
}

/* Footer */
footer {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
    color: #fff;
    background-color: #413134;
}

/* Responsividade */

/* Laptop */

@media  (max-width: 1100px) {
    .zonas-container{
        width: 95%;
    }

    .zona {
        margin: 0 5px;
    }
}

/* Celular */

@media  (max-width: 576px) {

    .navbar-itens li {
        font-size: 12px;
        margin-left: 5px;
    }
    .zona{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .zonas-container{
        flex-direction: column;
        width: 90%;
    }

    .zonas-container ul {
    margin-top: 2rem;
    }
    .services-container {
        width: 100%;
        flex-direction: column;
    }

    .services-container ul {
        flex-direction: column;
    }
}